 <!DOCTYPE html>
  <html lang="en">
  
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
          我的餐廳清單
        </a>
      </div>
    </nav>
  
    <div class="banner"></div>
    <link rel="stylesheet" href="/stylesheet/bootstrap.css">
    <link rel="stylesheet" href="/stylesheet/alphaCamp.css">
    <link rel="stylesheet" href="/stylesheet/all.css">
  </header>
  <body>

    <script src="/javascript/popper.js"></script>
    <script src="/javascript/bootstrap.js"></script>
    <script src="/javascript/all.js"></script>


   
    <!-- partial templates will replace the part of "body" here -->
    {{{ body }}}
  </body>
 
  </html>

 