<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-5">
     <form action="/list" method="POST">

      <div class="mb-3">
          <label for="name" class="form-label">餐廳中文名稱(必填)</label>
          <input type="text" class="form-control" id="name"  value=""  name="name" >
      </div>


    <div class="mb-3">
      <label for="name_en" class="form-label">餐廳英文名稱</label>
      <input type="text" class="form-control" id="name_en" value="" name="name_en" >
    </div>


    <div class="mb-3">
      <label for="InputCategory" class="form-label">餐廳類別(必填)</label>
      <select id="InputCategory" class="form-select" name="category" aria-label="category selection">
    
        <option value="All" selected>所有分類</option>
        <option value="酒吧">酒吧</option>
        <option value="義式餐廳">義式餐廳</option>
        <option value="美式">美式</option>
        <option value="日本料理">日本料理</option>
        <option value="咖啡">咖啡</option>
      </select>
    </div>


  
    <div class="mb-3">
      <label for="image" class="form-label">照片網址</label>
      <div class="input-group">
        <input type="text" class="form-control" id="image" name="image" >
      </div>
    </div>


    <div class="mb-3">
      <label for="location" class="form-label">地點</label>
      <input type="text" class="form-control" id="location" name="location" >
    </div>
    
    <div class="mb-3">
      <label for="phone" class="form-label">電話</label>
      <input type="text" class="form-control" id="phone" name="phone" >
    </div>

  <div class="mb-3">
    <label for="google_map" class="form-label">Google_Map</label>
    <div class="input-group">
      <input type="text" class="form-control" id="google_map"
        name="google_map" >
    </div>
  </div>

  <div class="mb-3">
    <label for="rating" class="form-label">評分(必填)</label>
    <div class="input-group">
      <input type="text" class="form-control" id="rating"
         name="rating" >
    </div>
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">簡介</label>
    <div class="input-group">
      <input type="text" class="form-control" id="description"
         name="description" >
    </div>
  </div>

  <div class="col-12">
      <button class="btn btn-primary" type="submit">提交</button>
  </div>

</form>
</div>
</div>
</div>